app/node_modules/**/*
app/.expo/*
app/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
app/web-build/

# macOS
*.DS_Store
app/ios

# use yarn
app/package-lock.json

# server
*__pycache__
*.env
*.vscode
